<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net45" />
  <package id="Junte.Parallel.Common" version="1.0.0.20" targetFramework="net45" />
  <package id="Junte.UI.Common" version="1.0.0.9" targetFramework="net45" />
  <package id="Junte.UI.WPF" version="1.0.0.15" targetFramework="net45" />
  <package id="Junte.WCF.Common" version="1.0.0.15" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.13.1.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.2.1.0" targetFramework="net45" />
  <package id="WPFTaskDialog" version="1.7.1" targetFramework="net45" />
</packages>