<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Junte.Configuration" version="1.0.1.0" targetFramework="net45" />
  <package id="Junte.Parallel" version="1.0.0.0" targetFramework="net45" />
  <package id="Junte.Translation" version="1.0.1.0" targetFramework="net45" />
  <package id="Junte.UI.Common" version="1.0.0.9" targetFramework="net45" />
  <package id="Junte.UI.WinForms" version="1.2.3.0" targetFramework="net45" />
  <package id="Junte.WCF" version="1.0.1.0" targetFramework="net45" />
  <package id="NLog" version="3.2.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
</packages>