<dom-module id="client-request-plan">
    <style is="custom-style">
        #container {
            margin: 10px;
        }

        div[client] {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid black;
        }

        paper-input[subjects] {
            width: 50px;
        }
    </style>

    <template>
    
        <div id="container" class="horizontal layout center">
            <template is="dom-if" if="[[!currentClientRequest]]">
                Нет активных запросов
            </template>
            <template is="dom-if" if="[[currentClientRequest]]">

                <template is="dom-if" if="[[currentClientRequest.Client]]">
                    <div client>
                        <span>[[currentClientRequest.Client.Surname]]</span>
                        <span> </span>
                        <span>[[currentClientRequest.Client.Name]]</span>
                    </div>
                </template>

                <div class="horizontal layout">
                    <template is="dom-if" if="[[equals(currentClientRequest.State, 0)]]">
                        <paper-icon-button icon="icons:alarm-on" on-click="callClient"></paper-icon-button>
                    </template>

                    <template is="dom-if" if="[[equals(currentClientRequest.State, 1)]]">
                        <paper-icon-button title="Вызвать повторно" icon="icons:alarm-on" on-click="recallClient"></paper-icon-button>
                        <paper-icon-button title="Клиент не подошел" icon="icons:close" on-click="absence"></paper-icon-button>
                        <paper-icon-button title="Начать обслуживание" icon="av:play-arrow" on-click="rendering"></paper-icon-button>
                    </template>

                    <template is="dom-if" if="[[equals(currentClientRequest.State, 3)]]">
                        <paper-input subjects size="5" no-label-float type="number" on-change="subjectsChanged" 
                            value="{{currentClientRequest.Subjects}}"></paper-input>
                        <paper-icon-button title="Законить обслуживание" icon="av:stop" on-click="rendered"></paper-icon-button>
                    </template>
                </div>
            </template>   
    </template>
</dom-module>

<script>

    Polymer({
        is: 'client-request-plan',

        behaviors: [Polymer.NeonSharedElementAnimatableBehavior, Polymer.NeonPageBehavior, GlobalsBehaviour],

        listeners: {
            'entry-animation-start': 'onEntryStart'
        },

        onEntryStart: function () {
            this.currentUser = this.globals.currentUser;

            var self = this;

            window.setInterval(function () {
                self.loadCurrentClientRequest();
            }, 5000);

            window.setInterval(function () {
                self.heartbeat();
            }, 10000);

            this.loadCurrentClientRequest();
        },

        equals: function (value, checked) {
            return value == checked;
        },

        heartbeat: function () {
            $.ajax({
                url: "user/user-heartbeat",
            });
        },

        loadCurrentClientRequest: function () {
            var self = this;

            $.ajax({
                url: "queue-plan/get-current-client-request-plan",
            }).done(function (clientRequestPlan) {
                self.currentClientRequest = clientRequestPlan != undefined
                    ? clientRequestPlan.ClientRequest : null;
            });
        },

        subjectsChanged: function () {
            var self = this;

            $.ajax({
                type: "POST",
                url: "queue-plan/edit-current-client-request",
                data: JSON.stringify({ source: this.currentClientRequest }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                processData: true
            }).done(function (clientRequestPlan) {
                self.currentClientRequest = clientRequestPlan;
            });
        },

        callClient: function () {
            var self = this;

            $.ajax({
                url: "queue-plan/update-current-client-request",
                data: { state: 1 },
            }).done(function () {

                self.loadCurrentClientRequest();

                $.ajax({
                    url: "queue-plan/call-current-client",
                });

            });
        },

        recallClient: function () {
            $.ajax({
                url: "queue-plan/call-current-client",
            });
        },

        absence: function () {
            var self = this;

            $.ajax({
                url: "queue-plan/update-current-client-request",
                data: { state: 2 },
            }).done(function () {
                self.loadCurrentClientRequest();
            });
        },

        rendering: function () {
            var self = this;

            $.ajax({
                url: "queue-plan/update-current-client-request",
                data: { state: 3 },
            }).done(function () {
                self.loadCurrentClientRequest();
            });
        },

        rendered: function () {
            var self = this;

            $.ajax({
                url: "queue-plan/update-current-client-request",
                data: { state: 5 },
            }).done(function () {
                self.loadCurrentClientRequest();
            });
        },

        properties: {

            currentUser: {
                type: Object,
                value: null
            },
            
            currentClientRequest: {
                type: Object,
                value: null
            },

            animationConfig: {
                value: function () {
                    return {
                        'entry': [{
                            name: 'fade-in-animation',
                            node: this.$.container
                        }],
                        'exit': [{
                            name: 'fade-out-animation',
                            node: this.$.container
                        }]
                    };
                }
            }
        }
    });
</script>