<dom-module id="login-page">
    <style is="custom-style">
        #container {
            margin: 10px;
        }

        paper-input {
            margin-left: 5px;

        }   
    </style>

    <template>
    
        <div id="container" class="horizontal layout end">
            <paper-dropdown-menu label="Пользователь">
                <paper-menu class="dropdown-content" selected="{{selected}}">
                  <template is="dom-repeat" items="[[users]]">
                    <paper-tab>[[item.Presentation]]</paper-tab>
                  </template>
                </paper-menu>
            </paper-dropdown-menu>
            <paper-input label="Пароль" value="{{password}}"></paper-input>
            <paper-button primary raised on-click="login">Войти</paper-button>
        </div>   

    </template>
</dom-module>

<script>

    Polymer({
        is: 'login-page',

        behaviors: [Polymer.NeonSharedElementAnimatableBehavior, Polymer.NeonPageBehavior, GlobalsBehaviour],

        listeners: {
            'entry-animation-start': 'onEntryStart'
        },

        onEntryStart: function () {
            var self = this;

            $.ajax({
                url: "user/get-user-links",
                data: { userRole: "Operator" }
            }).done(function (operators) {
                self.users = operators;
            });

            var query = document.location.href;
            var index = query.indexOf("identity=");
            if (index !== -1) {
                var identity = decodeURIComponent(query.substring(index + 9));
                console.log(identity);
                $.ajax({
                    url: "user/identify",
                    data: { identity: identity }
                }).done(function (operator) {
                    self.globals.currentUser = operator;
                    self.fire("logined");
                });

            }
        },

        login: function () {

            var self = this;

            $.ajax({
                url: "user/login",
                data: { userId: this.userId, password: this.password }
            }).done(function (operator) {
                console.log(operator);
                self.globals.currentUser = operator;
                self.fire("logined");
            });
        },

        userIdCompute: function (selected) {
            if (this.users.length > 0) {
                return this.users[selected].Id;
            }
        },

        properties: {

            users: {
                type: Array,
                value: []
            },

            selected: {
                type: Number,
                value: -1
            },

            userId: {
                type: String,
                value: "",
                computed: "userIdCompute(selected)"
            },

            password: {
                type: String,
                value: ""
            },

            sharedElements: {
                value: function () {
                    return {

                    }
                }
            },

            animationConfig: {
                value: function () {
                    return {
                        'entry': [{
                            name: 'fade-in-animation',
                            node: this.$.container
                        }],
                        'exit': [{
                            name: 'fade-out-animation',
                            node: this.$.container
                        }]
                    };
                }
            }
        }
    });
</script>