<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="dir7CB7E03714D9D7C1BF30BD3C91566568" Name="en-US" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="CoreFiles">
      <Component Id="cmpFD65F52CD5EC0B46A750F8EEFC3D4422" Directory="INSTALLFOLDER" Guid="61863352-4B46-43BF-A9B9-E6A42FD4B86A">
        <File Id="fil1F7E777B326B02F60B86F747002F8605" KeyPath="yes" Source="$(var.Notification.TargetDir)\AutoMapper.dll" />
      </Component>
      <Component Id="cmpE5057827B5BBC477B00E24D8BF130BCF" Directory="INSTALLFOLDER" Guid="BD1366E7-F4B3-40C1-BCDE-5E6038393472">
        <File Id="fil1DB5A7054C250ED33EF11E0741091DAF" KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.Configuration.dll" />
      </Component>
      <Component Id="cmp1C85ADA07BCD53B5D8BB1FE5C3936C6A" Directory="INSTALLFOLDER" Guid="033236C0-0E29-4421-8ECB-31D5335DF99D">
        <File Id="fil8E9A644516DAC03C44DBCE6A6701788F" KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.Parallel.dll" />
      </Component>
      <Component Id="cmpA0E52F1E392B1546B38AC8B5DF074237" Directory="INSTALLFOLDER" Guid="5C0CCD34-DDEB-4F2A-9EA8-220B0EDE5553">
        <File Id="filB435E9D49D0084A9B4FB363A3679323A" KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.Translation.dll" />
      </Component>
      <Component Id="cmp96AB944A74A73C7899AC9EBB5BFD5292" Directory="INSTALLFOLDER" Guid="53076247-EC29-4D7F-8308-F4258BC5F005">
        <File Id="filF67A86BDA1D3A3AED997B22C92DB408A" KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.UI.WinForms.dll" />
      </Component>
      <Component Id="cmp52B2D1FF2A4F6C728AF038545031AA3B" Directory="INSTALLFOLDER" Guid="3AB1588F-7F21-4FAD-89A7-535FD11555DA">
        <File Id="fil99564D5082811B5E25FCD18DCB5767F4" KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.UI.WPF.dll" />
      </Component>
      <Component Id="cmp08EF7A5CA33078308765DCC79D7A64D7" Directory="INSTALLFOLDER" Guid="F7739C59-2306-4592-A3C4-6AE8D21197AA">
        <File Id="fil6C2B7DD08BCCEC9AF4731DA587E1322E" KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.WCF.dll" />
      </Component>
      <Component Id="cmp223D4754378C01052DA8253A843FD297" Directory="INSTALLFOLDER" Guid="656CC357-8E62-4E4D-8278-CE68EA3620E7">
        <File Id="filBC562C5B3D9848A2114F0AF7275FF1E6" KeyPath="yes" Source="$(var.Notification.TargetDir)\MahApps.Metro.dll" />
      </Component>
      <Component Id="cmpF2F1C15A47B64F045101B1AE5B4D6054" Directory="INSTALLFOLDER" Guid="5E471394-9906-4851-B0E7-F31691FB0FBB">
        <File Id="filC342596B66E98254BB6E1CFFE50AE4AA" KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="cmpAA856A11EEF773F32618D29332CADFD0" Directory="INSTALLFOLDER" Guid="83D401EC-5B1E-4588-81DC-E8D5102298CA">
        <File Id="filFBB0E3892854598F759A072FB8581B46" KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.Practices.Unity.Configuration.dll" />
      </Component>
      <Component Id="cmp5141EFC969B8F1A9A0F1A01FFAD874BA" Directory="INSTALLFOLDER" Guid="4A81FCA3-5B04-4783-9252-05EF1C9DEA0E">
        <File Id="filE0B15D2B280E1EDFAB44F822C47D44ED" KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.Practices.Unity.dll" />
      </Component>
      <Component Id="cmpB48E67D919D1C42D78781F3B5D6E4336" Directory="INSTALLFOLDER" Guid="7BBCC08B-651D-4336-93FD-AC57F1AC1DDB">
        <File Id="fil53564AE840DB9CE660FE1F02DB1CB224" KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.Practices.Unity.RegistrationByConvention.dll" />
      </Component>
      <Component Id="cmpBB1767D7C200C536ABB2D361F40F9D92" Directory="INSTALLFOLDER" Guid="C4E5BCE8-4F5E-4055-ADEA-EAA9276DE2E2">
        <File Id="fil4E0F4321F336BF83461A34116F3E30B7" KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" Directory="INSTALLFOLDER" Guid="81A69D0E-3F69-4B71-8CFC-A62CFDC3F3C6">
        <File Id="filA09ADF42C6343B9B7C7780D266455CC4" KeyPath="yes" Source="$(var.Notification.TargetDir)\NLog.dll" />
      </Component>
      <Component Id="cmp55C662695779CA92FAA1C1E8F030C8C5" Directory="INSTALLFOLDER" Guid="720BC0EB-778F-421B-8C2B-D0752A23A0BD">
        <File Id="filF091F2ECF8894DC2ED432C5359E96097" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Common.dll" />
      </Component>
      <Component Id="cmp2CE2F83A5AB32BAFBA87C152C2C6F326" Directory="INSTALLFOLDER" Guid="B33790CE-ADE6-412C-8F1F-481422A77501">
        <File Id="filA43D6849C111501753C2BC7E8E96E9A0" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Model.Common.dll" />
      </Component>
      <Component Id="cmp419D836A62DED2128952E17730CAFC59" Directory="INSTALLFOLDER" Guid="CAC19A9F-56D3-474B-BFE0-BD3F72B03425">
        <File Id="fil163376D44620B34C824B82CBC13CB349" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Notification.exe" />
      </Component>
      <Component Id="cmp2EC786E3D62C0FC010B2CFF0874F972B" Directory="INSTALLFOLDER" Guid="E4468AA6-1AB9-42F8-AF03-2F97976D2FAF">
        <File Id="fil3FC446D0F588EA79BF722D63D0976289" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Notification.exe.config" />
      </Component>
      <Component Id="cmp3111FB7FBF8E83855ABE23B857069FBD" Directory="INSTALLFOLDER" Guid="70DAA088-69C9-4C34-8B81-9C5C5D20043F">
        <File Id="fil5083433A7E8CCB9C46CE1C735BE07909" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Services.Common.dll" />
      </Component>
      <Component Id="cmpC4E247D01A6FC492047FFCAFBA4A2F7E" Directory="INSTALLFOLDER" Guid="E5785C4B-A142-4BE1-8DA6-A19175AF553F">
        <File Id="filC31EFD008AE5A05C968392FCDA6865C4" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Services.Contracts.dll" />
      </Component>
      <Component Id="cmp43DB63E4B74D1504244115D8B4DEBC10" Directory="INSTALLFOLDER" Guid="CD4C2828-BFC8-4F54-9AFA-42855920E525">
        <File Id="fil0AE4E4ED0D0ADF966E5E800E7EDC6425" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Services.DTO.dll" />
      </Component>
      <Component Id="cmp94493695C012E5120118557305750D09" Directory="INSTALLFOLDER" Guid="F54ADD36-0B6E-4101-A623-04B4BC07528A">
        <File Id="filB99555A00DB7A6BE512295897070D338" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Sounds.dll" />
      </Component>
      <Component Id="cmp2EA797F4FA085D3806DD1914FBA7581B" Directory="INSTALLFOLDER" Guid="DE170990-0603-45C5-AFCE-44A3BF025073">
        <File Id="fil8C8DDD7A3BC84C219EE029983D5F8477" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.UI.Common.dll" />
      </Component>
      <Component Id="cmp9F70F55787AD067536EF924C574BFF4A" Directory="INSTALLFOLDER" Guid="C34D2C45-4064-448D-9DD7-AB9455C65C38">
        <File Id="fil428B93BA97E7AA5342C05D48E1E713FE" KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.UI.WPF.dll" />
      </Component>
      <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Directory="INSTALLFOLDER" Guid="AD82A233-96C4-41AC-9A69-C67675444AA0">
        <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.Notification.TargetDir)\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="cmpA8E5C72AFC0EE8E7DFDC41FE8AD1AFF2" Directory="INSTALLFOLDER" Guid="969034AF-1A3C-4D3F-9864-79D61A655558">
        <File Id="fil53801C0A31EE4867C20E4743F125FD98" KeyPath="yes" Source="$(var.Notification.TargetDir)\TaskDialog.dll" />
      </Component>
      <Component Id="cmpFA2B31A31FA4B927AB5BED423F118D0D" Directory="INSTALLFOLDER" Guid="83C6BC55-DE55-4AF9-8A1E-646B5624EA9D">
        <File Id="filBBA183B7F8A97513FD28F395447CF090" KeyPath="yes" Source="$(var.Notification.TargetDir)\Vlc.DotNet.Core.dll" />
      </Component>
      <Component Id="cmp5506B005CB9BFF8F4013CFA150250525" Directory="INSTALLFOLDER" Guid="11899C3C-BF6D-436B-A83F-5571233225FB">
        <File Id="filCAB46EB40052D104FCD0304E7A7488B7" KeyPath="yes" Source="$(var.Notification.TargetDir)\Vlc.DotNet.Core.Interops.dll" />
      </Component>
      <Component Id="cmp0A53E9601B96AB489A4BBFF84114AA30" Directory="INSTALLFOLDER" Guid="6CB8D666-273E-45E0-A31D-254B7D170B43">
        <File Id="filA17CCA42435E3460D750CAA029C0B5C5" KeyPath="yes" Source="$(var.Notification.TargetDir)\Vlc.DotNet.Wpf.dll" />
      </Component>
      <Component Id="cmpB67D3F09DB9A0300504308B88E6BD691" Directory="INSTALLFOLDER" Guid="F994B087-62DD-4F8B-8677-FD07DD7E433E">
        <File Id="fil52A6641DBE42458F8B887F3F1457CE5A" KeyPath="yes" Source="$(var.Notification.TargetDir)\WPFLocalizeExtension.dll" />
      </Component>
      <Component Id="cmpCE678184247DBF708F576175B706E814" Directory="INSTALLFOLDER" Guid="8AB1256F-B2ED-4B12-A442-1847ED5610C8">
        <File Id="fil49A2655A525DD008D8B608F3CDE8618D" KeyPath="yes" Source="$(var.Notification.TargetDir)\XAMLMarkupExtensions.dll" />
      </Component>
      <Component Id="cmp9E98642C203CBE503D536267AA9C6716" Directory="dir7CB7E03714D9D7C1BF30BD3C91566568" Guid="2CE6FA29-A4F5-488A-8F8D-B810AC78E8CA">
        <File Id="fil5D9E49DD016924C30B0F5CBD21526774" KeyPath="yes" Source="$(var.Notification.TargetDir)\en-US\Queue.Common.resources.dll" />
      </Component>
      <Component Id="cmpD1D82FF0036914B68146F38F4D9EB65A" Directory="dir7CB7E03714D9D7C1BF30BD3C91566568" Guid="D393CBEF-3CBC-4795-BC0B-EB67083E49E4">
        <File Id="fil8A9F9219907F477A05D75AB31BAA9002" KeyPath="yes" Source="$(var.Notification.TargetDir)\en-US\Queue.Model.Common.resources.dll" />
      </Component>
      <Component Id="cmpA1B1C76747B5FA71CE2F89B738B0970A" Directory="dir7CB7E03714D9D7C1BF30BD3C91566568" Guid="D671C372-D567-4DF2-BEEB-D2750E069800">
        <File Id="filF0A07D4E3F40839A31EF7FC73D59CCB5" KeyPath="yes" Source="$(var.Notification.TargetDir)\en-US\Queue.Notification.resources.dll" />
      </Component>
      <Component Id="cmp99C63FE2142668449450562EF3A1B863" Directory="dir7CB7E03714D9D7C1BF30BD3C91566568" Guid="B7DC8610-A187-48D1-BBA5-142F053934F0">
        <File Id="filF5E01A4DCF8F3D61F890A8DA877D5914" KeyPath="yes" Source="$(var.Notification.TargetDir)\en-US\Queue.UI.WPF.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>