<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="en_US" Name="en-US" />
    </DirectoryRef>
  </Fragment>

  <Fragment>

    <ComponentGroup Id="Microsoft" Directory="INSTALLFOLDER">
      <Component Id="_FC1E669C0CE84071B94CC0E85F53E152" Guid="FC1E669C-0CE8-4071-B94C-C0E85F53E152">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="_47FB0036F25D4A439F73FD12BA4D9AE3" Guid="47FB0036-F25D-4A43-9F73-FD12BA4D9AE3">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.Practices.Unity.Configuration.dll" />
      </Component>
      <Component Id="_D5C82E9C56044FC2BA8E04DB16CC7B2F" Guid="D5C82E9C-5604-4FC2-BA8E-04DB16CC7B2F">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.Practices.Unity.dll" />
      </Component>
      <Component Id="_F1DD98F568F144C1836ABB0E1E09D327" Guid="F1DD98F5-68F1-44C1-836A-BB0E1E09D327">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.Practices.Unity.RegistrationByConvention.dll" />
      </Component>
      <Component Id="_F276A583F23C4031AF2F0D9F856C04BA" Guid="F276A583-F23C-4031-AF2F-0D9F856C04BA">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Microsoft.WindowsAPICodePack.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Logging" Directory="INSTALLFOLDER">
      <Component Id="_34CF75DB884A481BA25F5305A4F4B32A" Guid="34CF75DB-884A-481B-A25F-5305A4F4B32A">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\NLog.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Data" Directory="INSTALLFOLDER">
      <Component Id="_0DBAED7D859E4EB8B95FB2543DA5D828" Guid="0DBAED7D-859E-4EB8-B95F-B2543DA5D828">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\AutoMapper.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Junte" Directory="INSTALLFOLDER">
      <Component Id="_CAFD36800D7F4A66921E8DF09E5AFAD0" Guid="CAFD3680-0D7F-4A66-921E-8DF09E5AFAD0">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.Configuration.dll" />
      </Component>
      <Component Id="_746C14E44D334B6994C2AE573C40CF3F" Guid="746C14E4-4D33-4B69-94C2-AE573C40CF3F">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.Translation.dll" />
      </Component>
      <Component Id="_71E19828DBE04A748504D44AD8BDEA02" Guid="71E19828-DBE0-4A74-8504-D44AD8BDEA02">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.WCF.dll" />
      </Component>
      <Component Id="_BCA661BD98FC4399AA8AAE7F067E7E31" Guid="BCA661BD-98FC-4399-AA8A-AE7F067E7E31">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.Parallel.dll" />
      </Component>
      <Component Id="_5ECD461EBCE8479B84FACA96D53E71B7" Guid="5ECD461E-BCE8-479B-84FA-CA96D53E71B7">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.UI.WinForms.dll" />
      </Component>
      <Component Id="_7593A931AF1747D9804380D74BE35EEC" Guid="7593A931-AF17-47D9-8043-80D74BE35EEC">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Junte.UI.WPF.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Queue" Directory="INSTALLFOLDER">
      <Component Id="_63E8ECE5E2AD43B8A1028F43A453B518" Guid="63E8ECE5-E2AD-43B8-A102-8F43A453B518">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Common.dll" />
      </Component>
      <Component Id="_D7860FC4DEBF48359A2291E272857BEB" Guid="D7860FC4-DEBF-4835-9A22-91E272857BEB">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Model.Common.dll" />
      </Component>
      <Component Id="_2D2C68B5472D4897A17FD4DA1BCDA21A" Guid="2D2C68B5-472D-4897-A17F-D4DA1BCDA21A">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Services.Common.dll" />
      </Component>
      <Component Id="_3E09CA3201544065B4EDDE5BF457A3AC" Guid="3E09CA32-0154-4065-B4ED-DE5BF457A3AC">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Services.Contracts.dll" />
      </Component>
      <Component Id="_57C9DC3AE7F84EB6B1AAE16A271E032A" Guid="57C9DC3A-E7F8-4EB6-B1AA-E16A271E032A">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Services.DTO.dll" />
      </Component>
      <Component Id="_1DF3C97A0A2D43A9B8B046FB965DFB19" Guid="1DF3C97A-0A2D-43A9-B8B0-46FB965DFB19">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.UI.Common.dll" />
      </Component>
      <Component Id="_AEBDBAEE52344F79809ACF24DD7837FC" Guid="AEBDBAEE-5234-4F79-809A-CF24DD7837FC">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.UI.WinForms.dll" />
      </Component>
      <Component Id="_61A06434FC7844CDBE53291657FEA351" Guid="61A06434-FC78-44CD-BE53-291657FEA351">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.UI.WPF.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="UI" Directory="INSTALLFOLDER">
      <Component Id="_05FFC73C9B0D47F68CD2553352F2544A" Guid="05FFC73C-9B0D-47F6-8CD2-553352F2544A">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\TaskDialog.dll" />
      </Component>
      <Component Id="_1E1380810A924C24AE22A3DE06F9C20D" Guid="1E138081-0A92-4C24-AE22-A3DE06F9C20D">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\MahApps.Metro.dll" />
      </Component>
      <Component Id="_8284788F32A64580B1C2199BCF56D188" Guid="8284788F-32A6-4580-B1C2-199BCF56D188">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="_FCDD48B8519348C2930AF511255453E4" Guid="FCDD48B8-5193-48C2-930A-F511255453E4">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\WPFLocalizeExtension.dll" />
      </Component>
      <Component Id="_059919D425A149D0866C86B4ED9EC5A9" Guid="059919D4-25A1-49D0-866C-86B4ED9EC5A9">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\XAMLMarkupExtensions.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="VLC" Directory="INSTALLFOLDER">
      <Component Id="_83C6BC55DE554AF98A1E646B5624EA9D" Guid="83C6BC55-DE55-4AF9-8A1E-646B5624EA9D">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Vlc.DotNet.Core.dll" />
      </Component>
      <Component Id="_11899C3CBF6D436BA83F5571233225FB" Guid="11899C3C-BF6D-436B-A83F-5571233225FB">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Vlc.DotNet.Core.Interops.dll" />
      </Component>
      <Component Id="_6CB8D666273E45E0A31D254B7D170B43" Guid="6CB8D666-273E-45E0-A31D-254B7D170B43">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Vlc.DotNet.Wpf.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Application" Directory="INSTALLFOLDER">
      <Component Id="_6F6A0F120CBD4B0E9ED7DF72171D5BCA" Guid="6F6A0F12-0CBD-4B0E-9ED7-DF72171D5BCA">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Notification.exe" />
      </Component>
      <Component Id="_6F6964C97F594117AC8313A386C5E955" Guid="6F6964C9-7F59-4117-AC83-13A386C5E955">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\Queue.Notification.exe.config" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Resources_en_US" Directory="en_US">
      <Component Id="_C7168B866DE140F398297955A3FFAAC8" Guid="C7168B86-6DE1-40F3-9829-7955A3FFAAC8">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\en-US\Queue.Notification.resources.dll" />
      </Component>
      <Component Id="_89AFE4885C3F41A2A6ABBDD4B40A3204" Guid="89AFE488-5C3F-41A2-A6AB-BDD4B40A3204">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\en-US\Queue.Common.resources.dll" />
      </Component>
      <Component Id="_C9B0DFAC8FC140ACA0971D578E45C6BA" Guid="C9B0DFAC-8FC1-40AC-A097-1D578E45C6BA">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\en-US\Queue.Model.Common.resources.dll" />
      </Component>
      <Component Id="_2CD3DBD2BE734676A0C63F499EE86153" Guid="2CD3DBD2-BE73-4676-A0C6-3F499EE86153">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\en-US\Queue.UI.WinForms.resources.dll" />
      </Component>
      <Component Id="_CB7F08B911F14B799572BBE5DC6498FE" Guid="CB7F08B9-11F1-4B79-9572-BBE5DC6498FE">
        <File KeyPath="yes" Source="$(var.Notification.TargetDir)\en-US\Queue.UI.WPF.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>