<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CoreFiles">
            <Component Id="cmpFD65F52CD5EC0B46A750F8EEFC3D4422" Directory="INSTALLFOLDER" Guid="0DBAED7D-859E-4EB8-B95F-B2543DA5D828">
                <File Id="fil1F7E777B326B02F60B86F747002F8605" KeyPath="yes" Source="$(var.Administrator.TargetDir)\AutoMapper.dll" />
            </Component>
            <Component Id="cmpEEC7AC6B3009FA88C57EB2972A7A8F5B" Directory="INSTALLFOLDER" Guid="BC37862B-74ED-44F1-9C11-A15B19E37F19">
                <File Id="fil4F01E53E158206D8C82AC24B4DFEE253" KeyPath="yes" Source="$(var.Administrator.TargetDir)\AutoMapper.Net4.dll" />
            </Component>
            <Component Id="cmp695F3B89FCD90C669B1958F6D20D523D" Directory="INSTALLFOLDER" Guid="105A137B-0453-487D-8E6E-685025C17076">
                <File Id="filECAAB6E721DE437D50D73A1F554EB461" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Icons.resx" />
            </Component>
            <Component Id="cmp352B68CBE9EBE02EAAF5E18B20685A67" Directory="INSTALLFOLDER" Guid="C2BBD569-D8AE-4E3E-95A4-5A8B113E7C5B">
                <File Id="filA63A4BC4A9B457FDF7E41EF87D6642AB" KeyPath="yes" Source="$(var.Administrator.TargetDir)\ICSharpCode.TextEditor.dll" />
            </Component>
            <Component Id="cmpE5057827B5BBC477B00E24D8BF130BCF" Directory="INSTALLFOLDER" Guid="CAFD3680-0D7F-4A66-921E-8DF09E5AFAD0">
                <File Id="fil1DB5A7054C250ED33EF11E0741091DAF" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Junte.Configuration.dll" />
            </Component>
            <Component Id="cmp0A57C036E7477C8B804C1F689B87C13B" Directory="INSTALLFOLDER" Guid="B5303D31-BF0D-4780-BDA6-EC0379AC6008">
                <File Id="fil49662034001F51D47047F3B3EB3856D0" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Junte.Data.Common.dll" />
            </Component>
            <Component Id="cmp1C85ADA07BCD53B5D8BB1FE5C3936C6A" Directory="INSTALLFOLDER" Guid="BCA661BD-98FC-4399-AA8A-AE7F067E7E31">
                <File Id="fil8E9A644516DAC03C44DBCE6A6701788F" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Junte.Parallel.dll" />
            </Component>
            <Component Id="cmpA0E52F1E392B1546B38AC8B5DF074237" Directory="INSTALLFOLDER" Guid="746C14E4-4D33-4B69-94C2-AE573C40CF3F">
                <File Id="filB435E9D49D0084A9B4FB363A3679323A" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Junte.Translation.dll" />
            </Component>
            <Component Id="cmp96AB944A74A73C7899AC9EBB5BFD5292" Directory="INSTALLFOLDER" Guid="5ECD461E-BCE8-479B-84FA-CA96D53E71B7">
                <File Id="filF67A86BDA1D3A3AED997B22C92DB408A" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Junte.UI.WinForms.dll" />
            </Component>
            <Component Id="cmp52B2D1FF2A4F6C728AF038545031AA3B" Directory="INSTALLFOLDER" Guid="7593A931-AF17-47D9-8043-80D74BE35EEC">
                <File Id="fil99564D5082811B5E25FCD18DCB5767F4" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Junte.UI.WPF.dll" />
            </Component>
            <Component Id="cmp08EF7A5CA33078308765DCC79D7A64D7" Directory="INSTALLFOLDER" Guid="71E19828-DBE0-4A74-8504-D44AD8BDEA02">
                <File Id="fil6C2B7DD08BCCEC9AF4731DA587E1322E" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Junte.WCF.dll" />
            </Component>
            <Component Id="cmp223D4754378C01052DA8253A843FD297" Directory="INSTALLFOLDER" Guid="867E457A-EFA5-4F6C-B894-0EEBDD89894F">
                <File Id="filBC562C5B3D9848A2114F0AF7275FF1E6" KeyPath="yes" Source="$(var.Administrator.TargetDir)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmpF2F1C15A47B64F045101B1AE5B4D6054" Directory="INSTALLFOLDER" Guid="FC1E669C-0CE8-4071-B94C-C0E85F53E152">
                <File Id="filC342596B66E98254BB6E1CFFE50AE4AA" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
            </Component>
            <Component Id="cmpAA856A11EEF773F32618D29332CADFD0" Directory="INSTALLFOLDER" Guid="47FB0036-F25D-4A43-9F73-FD12BA4D9AE3">
                <File Id="filFBB0E3892854598F759A072FB8581B46" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Microsoft.Practices.Unity.Configuration.dll" />
            </Component>
            <Component Id="cmp5141EFC969B8F1A9A0F1A01FFAD874BA" Directory="INSTALLFOLDER" Guid="D5C82E9C-5604-4FC2-BA8E-04DB16CC7B2F">
                <File Id="filE0B15D2B280E1EDFAB44F822C47D44ED" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Microsoft.Practices.Unity.dll" />
            </Component>
            <Component Id="cmpB48E67D919D1C42D78781F3B5D6E4336" Directory="INSTALLFOLDER" Guid="F1DD98F5-68F1-44C1-836A-BB0E1E09D327">
                <File Id="fil53564AE840DB9CE660FE1F02DB1CB224" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Microsoft.Practices.Unity.RegistrationByConvention.dll" />
            </Component>
            <Component Id="cmpBB1767D7C200C536ABB2D361F40F9D92" Directory="INSTALLFOLDER" Guid="F276A583-F23C-4031-AF2F-0D9F856C04BA">
                <File Id="fil4E0F4321F336BF83461A34116F3E30B7" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" Directory="INSTALLFOLDER" Guid="34CF75DB-884A-481B-A25F-5305A4F4B32A">
                <File Id="filA09ADF42C6343B9B7C7780D266455CC4" KeyPath="yes" Source="$(var.Administrator.TargetDir)\NLog.dll" />
            </Component>
            <Component Id="cmpE971B8437F67F7C9E4A1E7D7985D03EE" Directory="INSTALLFOLDER" Guid="433B261E-06CA-45DD-A918-8E53EF41270E">
                <File Id="filEBDF5069500B2ECEF293771F2AB8138E" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Administrator.exe" />
            </Component>
            <Component Id="cmp51D23B289197886F2729B05A080E174A" Directory="INSTALLFOLDER" Guid="7B18104B-F7F3-42AE-8D9D-842F6FB00B02">
                <File Id="filA5D02F866B9B7859A0E3B5A32B8B6517" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Administrator.exe.config" />
            </Component>
            <Component Id="cmp0801AC83DEB95468FB0FFF412B5B935F" Directory="INSTALLFOLDER" Guid="E7A47D93-81E9-4122-81CE-61EA651D7C08">
                <File Id="fil00B5FAEEF168601478ECFB00F7CEA9C9" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Administrator.exe.manifest" />
            </Component>
            <Component Id="cmp55C662695779CA92FAA1C1E8F030C8C5" Directory="INSTALLFOLDER" Guid="63E8ECE5-E2AD-43B8-A102-8F43A453B518">
                <File Id="filF091F2ECF8894DC2ED432C5359E96097" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Common.dll" />
            </Component>
            <Component Id="cmp2CE2F83A5AB32BAFBA87C152C2C6F326" Directory="INSTALLFOLDER" Guid="D7860FC4-DEBF-4835-9A22-91E272857BEB">
                <File Id="filA43D6849C111501753C2BC7E8E96E9A0" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Model.Common.dll" />
            </Component>
            <Component Id="cmp1AD686C727AFDEFA62AB44F0B442A6C4" Directory="INSTALLFOLDER" Guid="2E5C8E62-6291-4DC0-AD4A-29ACB95306BA">
                <File Id="filF62C7848207FCB5630D93544243D00E1" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Operator.exe" />
            </Component>
            <Component Id="cmpAF2452D9F055213DFF4CBF47699CF6C2" Directory="INSTALLFOLDER" Guid="1CE1FAF4-ACA4-46DA-8952-A5F3A9DC9052">
                <File Id="fil3C1C1CCB59D8869C917A56097CB5F2F3" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Resources.dll" />
            </Component>
            <Component Id="cmp3111FB7FBF8E83855ABE23B857069FBD" Directory="INSTALLFOLDER" Guid="2D2C68B5-472D-4897-A17F-D4DA1BCDA21A">
                <File Id="fil5083433A7E8CCB9C46CE1C735BE07909" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Services.Common.dll" />
            </Component>
            <Component Id="cmpC4E247D01A6FC492047FFCAFBA4A2F7E" Directory="INSTALLFOLDER" Guid="3E09CA32-0154-4065-B4ED-DE5BF457A3AC">
                <File Id="filC31EFD008AE5A05C968392FCDA6865C4" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Services.Contracts.dll" />
            </Component>
            <Component Id="cmp43DB63E4B74D1504244115D8B4DEBC10" Directory="INSTALLFOLDER" Guid="57C9DC3A-E7F8-4EB6-B1AA-E16A271E032A">
                <File Id="fil0AE4E4ED0D0ADF966E5E800E7EDC6425" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.Services.DTO.dll" />
            </Component>
            <Component Id="cmp2EA797F4FA085D3806DD1914FBA7581B" Directory="INSTALLFOLDER" Guid="5E371D80-144D-4706-8281-E43E3DEA4C16">
                <File Id="fil8C8DDD7A3BC84C219EE029983D5F8477" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.UI.Common.dll" />
            </Component>
            <Component Id="cmpDEBF93F703C4F623A75B793A9E8EAF13" Directory="INSTALLFOLDER" Guid="AEBDBAEE-5234-4F79-809A-CF24DD7837FC">
                <File Id="filF7EA23D4DED6D5A4218DC0EA8DC146CD" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.UI.WinForms.dll" />
            </Component>
            <Component Id="cmp9F70F55787AD067536EF924C574BFF4A" Directory="INSTALLFOLDER" Guid="61A06434-FC78-44CD-BE53-291657FEA351">
                <File Id="fil428B93BA97E7AA5342C05D48E1E713FE" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Queue.UI.WPF.dll" />
            </Component>
            <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Directory="INSTALLFOLDER" Guid="B121B4CA-0553-45FF-90DD-920C9E44353B">
                <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.Administrator.TargetDir)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmpA8E5C72AFC0EE8E7DFDC41FE8AD1AFF2" Directory="INSTALLFOLDER" Guid="05FFC73C-9B0D-47F6-8CD2-553352F2544A">
                <File Id="fil53801C0A31EE4867C20E4743F125FD98" KeyPath="yes" Source="$(var.Administrator.TargetDir)\TaskDialog.dll" />
            </Component>
            <Component Id="cmpB5AC76F2952CC9DFFEAE55F2225097DA" Directory="INSTALLFOLDER" Guid="CD3FFA75-AF5A-4F8F-AF1E-1497E8E5F185">
                <File Id="fil6AA069CB067F41A6BD8EE397FDA8959D" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Xceed.Wpf.AvalonDock.dll" />
            </Component>
            <Component Id="cmp2A23BAA07F6AEF1BAC39F167324A8F3A" Directory="INSTALLFOLDER" Guid="93C94F82-55D8-454D-8DC8-62CF384E09FB">
                <File Id="filBC3F4C1166E0142D06933250742EA7C2" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
            </Component>
            <Component Id="cmpD2BBFD2B0371F68A1185CC644A1BEA64" Directory="INSTALLFOLDER" Guid="C4DF16B2-2B54-4568-87B8-8D96BE7A06BF">
                <File Id="fil4DFF05E2DF20649A72E2FB5FBC3CBA2E" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
            </Component>
            <Component Id="cmpFFB651FFCBD1B293A7B0FE113C056F8F" Directory="INSTALLFOLDER" Guid="0D30CE26-11D0-4732-ABF1-11111AAEB5CB">
                <File Id="filEFDE58C5ABCFCB31E073211560F487D2" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
            </Component>
            <Component Id="cmp2082E6F44E7442A2CF668AC1314841DE" Directory="INSTALLFOLDER" Guid="45319496-FB5B-461C-8E05-6F4FFA2A66DF">
                <File Id="fil970A8461CFC3494D8628089C3DDA5992" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Xceed.Wpf.DataGrid.dll" />
            </Component>
            <Component Id="cmpC85BD7478E073743A39F17DF06865203" Directory="INSTALLFOLDER" Guid="08D8C222-7BD0-48BD-997E-4E3C55A7A557">
                <File Id="fil3DAD59899DDA1B0FCEDF95F84CB3C475" KeyPath="yes" Source="$(var.Administrator.TargetDir)\Xceed.Wpf.Toolkit.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>