<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(var.Installer.Common.ProjectDir)Consts.wxi ?>

  <?define ProductName="Queue Administrator" ?>
  <?define ProductTitle="Администратор очереди" ?>
  <?define UpgradeCode="AB6E57C4-5F6A-4E86-B496-B658E16AD637"?>

  <Product Id="$(var.ProductCode)"
            Name="$(var.ProductName)"
            Language="1049"
            Version="$(var.ProductVersion)"
            Manufacturer="$(var.Manufacturer)"
            UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="Более новая версия [ProductName] уже установлена." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="appIcon" SourceFile="icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="appIcon" />
    <Property Id="REINSTALLMODE" Value="amus" />
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ProjectFolder" Name="$(var.ProjectName)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProjectName)">
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">

      <ComponentGroupRef Id="Microsoft" />
      <ComponentGroupRef Id="Logging" />
      <ComponentGroupRef Id="Junte" />
      <ComponentGroupRef Id="Queue" />
      <ComponentGroupRef Id="Services" />
      <ComponentGroupRef Id="UI" />
      <ComponentGroupRef Id="Application" />
      <ComponentGroupRef Id="Resources_en_US" />
      <ComponentGroupRef Id="Resources_zh_CN" />

      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="E7F7B278-E544-44C1-AA2F-B933097ABCAF">
        <Shortcut Id="Shortcut"
             Name="$(var.ProductTitle)"
             Description="$(var.ProductTitle)"
             Target="[INSTALLFOLDER]$(var.Administrator.TargetFileName)"
             WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.Installer.Common.ProjectDir)mainBanner.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.Installer.Common.ProjectDir)topBAnner.bmp" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>
  </Product>
</Wix>