<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="SERVICE_NAME" Value="JunteQueuePortal" />
    <ComponentGroup Id="CoreFiles">
      <Component Id="cmp99CBDE2AFC8047ADA75F210CE325511E" Directory="INSTALLFOLDER" Guid="99CBDE2A-FC80-47AD-A75F-210CE325511E">
        <File Id="fil30EB42677F4344FE9F53C86859BC9E98"  KeyPath="yes" Source="$(var.Hosts.Portal.WinService.TargetPath)" />
        <ServiceControl
          Id="removeQueueService"
          Name="[SERVICE_NAME]"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>
      <Component Id="cmpCD018660E6B74490A15F51F6AFA9AE39" Directory="INSTALLFOLDER" Guid="CD018660-E6B7-4490-A15F-51F6AFA9AE39">
        <File Id="filD465FBD1D9034644A5863A8A3A507CDD" KeyPath="yes" Source="$(var.Hosts.Portal.WinService.TargetPath).config" />
      </Component>
      <Component Id="cmp9074557CF3CEFD7B3E6FA8B2F1FD7453" Directory="INSTALLFOLDER" Guid="D304EE59-1BC4-4536-933E-3DB84C717834">
        <File Id="fil59622F5F820B2C11D8F155CA2B09034D" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetPath)" />
      </Component>
      <Component Id="cmpD95071C1F1509DF37CD310EE0D37E9EE" Directory="INSTALLFOLDER" Guid="33258B7B-8E0E-4B4A-90E9-44596A31F0D7">
        <File Id="fil2E593D94663BADBA4C269AF869193AF7" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetPath).config" />
      </Component>
      <Component Id="cmp1E6769C84E454DA9A0DCCF67171DDC59" Directory="INSTALLFOLDER" Guid="1E6769C8-4E45-4DA9-A0DC-CF67171DDC59">
        <File Id="fil5A3C7D8CCFA3490580DFBA38CAF16612" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\AutoMapper.dll" />
      </Component>
      <Component Id="cmpB926D95F6C8244AC9AC11F81732AB322" Directory="INSTALLFOLDER" Guid="B926D95F-6C82-44AC-9AC1-1F81732AB322">
        <File Id="fil44A2AFE6387B4F8FB0253DECC3B4C4C4" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\AutoMapper.Net4.dll" />
      </Component>
      <Component Id="cmpDBEEEBDAEE67A307026A7C9AC97B9B2A" Directory="INSTALLFOLDER" Guid="667AFC32-66F4-4158-9660-7C8224F9E727">
        <File Id="filFD169E0363615C9BE8CAFE60196DAD45" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Crad.Windows.Forms.Actions.dll" />
      </Component>
      <Component Id="cmp695F3B89FCD90C669B1958F6D20D523D" Directory="INSTALLFOLDER" Guid="9CF8B7CF-A8BB-4BE4-837D-759A374E7DD0">
        <File Id="filECAAB6E721DE437D50D73A1F554EB461" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Icons.resx" />
      </Component>
      <Component Id="cmp2D1101A09A3F5FA0CDF5E565334E6BDB" Directory="INSTALLFOLDER" Guid="917FF71B-383F-4618-9381-FDFDFBD4F26E">
        <File Id="fil81321EAB16548C89F71B94A9BAC8302E" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Junte.Parallel.Common.dll" />
      </Component>
      <Component Id="cmp96AB944A74A73C7899AC9EBB5BFD5292" Directory="INSTALLFOLDER" Guid="46020673-2EBE-47FD-BCEC-B4CB37616490">
        <File Id="filF67A86BDA1D3A3AED997B22C92DB408A" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Junte.UI.WinForms.dll" />
      </Component>
      <Component Id="cmpC255AEA61B1C33749B73878AE58A3200" Directory="INSTALLFOLDER" Guid="AF973768-C1F0-4329-9632-5789258D9D72">
        <File Id="fil285F0AEF7B68A083AE2D8E5A0E7D7C8B" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Junte.WCF.Common.dll" />
      </Component>
      <Component Id="cmpF2F1C15A47B64F045101B1AE5B4D6054" Directory="INSTALLFOLDER" Guid="A90E9353-C329-4CE1-84F9-5A5CBA89560E">
        <File Id="filC342596B66E98254BB6E1CFFE50AE4AA" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="cmpAA856A11EEF773F32618D29332CADFD0" Directory="INSTALLFOLDER" Guid="B34C43F4-C7EC-4207-B738-357312EA4188">
        <File Id="filFBB0E3892854598F759A072FB8581B46" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Microsoft.Practices.Unity.Configuration.dll" />
      </Component>
      <Component Id="cmp5141EFC969B8F1A9A0F1A01FFAD874BA" Directory="INSTALLFOLDER" Guid="AE99D3C5-F10F-4EE2-92AC-7B7D545430EF">
        <File Id="filE0B15D2B280E1EDFAB44F822C47D44ED" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Microsoft.Practices.Unity.dll" />
      </Component>
      <Component Id="cmpB48E67D919D1C42D78781F3B5D6E4336" Directory="INSTALLFOLDER" Guid="25904772-32FC-4B7B-BF19-298106B6CDDC">
        <File Id="fil53564AE840DB9CE660FE1F02DB1CB224" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Microsoft.Practices.Unity.RegistrationByConvention.dll" />
      </Component>
      <Component Id="cmpBB1767D7C200C536ABB2D361F40F9D92" Directory="INSTALLFOLDER" Guid="FA2D4A2E-DF0C-416D-8E4E-0610B5FC73B9">
        <File Id="fil4E0F4321F336BF83461A34116F3E30B7" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="cmp676659A682F8B2F9B96DCCEF64974212" Directory="INSTALLFOLDER" Guid="036057F0-4703-4362-85DF-97DFC0FF11A2">
        <File Id="fil0265A3E6AF60A95388CA878A6B71E0A9" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll" />
      </Component>
      <Component Id="cmp7EB0B903F4227AB6B6118ABC9E5F8148" Directory="INSTALLFOLDER" Guid="819BA95E-8328-41B4-BBE3-1EF12C00FBDF">
        <File Id="filA3EDB683FF7C2E0EEBB09EB53647274C" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.Sensors.dll" />
      </Component>
      <Component Id="cmp702FCD8F941D530EED089ED86491F3AF" Directory="INSTALLFOLDER" Guid="DD6D3727-1B2D-4E7A-A1BC-39C64DAD6A12">
        <File Id="filAAF0A287D1C4C9A238DFF053ADA2B1C8" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Id="cmp886200E0570F6ED803412CBE764B2AAA" Directory="INSTALLFOLDER" Guid="C21B8BC8-815A-4BC9-9998-D9D8A60BD4E9">
        <File Id="filC908B4FCB7196AA89E1DEF78CC58910C" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.ShellExtensions.dll" />
      </Component>
      <Component Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" Directory="INSTALLFOLDER" Guid="9BBEB9A1-4258-4446-826C-2956C74F09B1">
        <File Id="filA09ADF42C6343B9B7C7780D266455CC4" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\NLog.dll" />
      </Component>
      <Component Id="cmp55C662695779CA92FAA1C1E8F030C8C5" Directory="INSTALLFOLDER" Guid="42745910-282D-4432-AA41-C979DF156944">
        <File Id="filF091F2ECF8894DC2ED432C5359E96097" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.Common.dll" />
      </Component>
      <Component Id="cmp70D5CE0BCF705C3CF206DC141D71CD57" Directory="INSTALLFOLDER" Guid="D8110D7C-44F8-4B2A-8EAE-FB9C29D78950">
        <File Id="fil4BE3D399883863F17E18715F8239CF29" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.Hosts.Common.dll" />
      </Component>
      <Component Id="cmp2CE2F83A5AB32BAFBA87C152C2C6F326" Directory="INSTALLFOLDER" Guid="95E167DD-15DB-475F-AF6B-52C049C3F7C4">
        <File Id="filA43D6849C111501753C2BC7E8E96E9A0" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.Model.Common.dll" />
      </Component>
      <Component Id="cmpF389B1D8F7CF4874D7494586F7EF5275" Directory="INSTALLFOLDER" Guid="D9EA3CE1-D2DD-4A9F-9812-747542564B62">
        <File Id="fil9B7A380961CDB8B699F167308F238E8C" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.Portal.dll" />
      </Component>
      <Component Id="cmp3111FB7FBF8E83855ABE23B857069FBD" Directory="INSTALLFOLDER" Guid="3C25D77B-3A4B-4B13-A8DA-90E39D2CF895">
        <File Id="fil5083433A7E8CCB9C46CE1C735BE07909" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.Services.Common.dll" />
      </Component>
      <Component Id="cmpC4E247D01A6FC492047FFCAFBA4A2F7E" Directory="INSTALLFOLDER" Guid="3CD06E3A-45C2-496B-AC56-9B1D1F8C0D87">
        <File Id="filC31EFD008AE5A05C968392FCDA6865C4" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.Services.Contracts.dll" />
      </Component>
      <Component Id="cmp43DB63E4B74D1504244115D8B4DEBC10" Directory="INSTALLFOLDER" Guid="2D2E6E7C-8931-49EE-9E8C-AE2D6D780B12">
        <File Id="fil0AE4E4ED0D0ADF966E5E800E7EDC6425" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.Services.DTO.dll" />
      </Component>
      <Component Id="cmp2EA797F4FA085D3806DD1914FBA7581B" Directory="INSTALLFOLDER" Guid="36D692F4-0AC5-45DB-B111-6E818E30AD1F">
        <File Id="fil8C8DDD7A3BC84C219EE029983D5F8477" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.UI.Common.dll" />
      </Component>
      <Component Id="cmpDEBF93F703C4F623A75B793A9E8EAF13" Directory="INSTALLFOLDER" Guid="6F75A16A-34DC-4B03-AE84-A815379F2075">
        <File Id="filF7EA23D4DED6D5A4218DC0EA8DC146CD" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.UI.WinForms.dll" />
      </Component>
      <Component Id="cmpB0ABCEFE6B0D0545AE7E0C7A4F3787E9" Directory="INSTALLFOLDER" Guid="635268C4-5DB1-4B14-B2A8-9D7A06F409DE">
        <File Id="fil7174FCAD5782AFCED6C2936FDA2FCC19" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\Queue.Services.Portal.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>