<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(var.Installer.Common.ProjectDir)Consts.wxi ?>

  <?define ProductName="Queue Portal" ?>
  <?define ProductTitle="Портал очереди" ?>
  <?define ProductVersion="1.4.1.0" ?>
  <?define ProductCode="1A5F220B-DF53-4FC1-85A9-95C935763D66"?>
  <?define UpgradeCode="D44E3BFF-77AF-4081-9F88-9928E3104555"?>

  <Product Id="$(var.ProductCode)"
          Name="$(var.ProductName)"
          Language="1049"
          Version="$(var.ProductVersion)"
          Manufacturer="$(var.Manufacturer)"
          UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="Более новая версия [ProductName] уже установлена." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="appIcon" SourceFile="icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="appIcon" />
    <Property Id="REINSTALLMODE" Value="amus" />
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ProjectFolder" Name="$(var.ProjectName)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProjectName)">
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="CoreFiles" />
      <ComponentGroupRef Id="SiteFiles" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="149F0678-5F58-434C-BC37-D0A50850F523">
        <Shortcut Id="Shortcut"
             Name="$(var.ProductTitle)"
             Description="$(var.ProductTitle)"
             Target="[INSTALLFOLDER]$(var.Hosts.Portal.WinForms.TargetFileName)"
             WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="UninstallShortcut"
            Name="Удалить $(var.ProductTitle)"
            Target="[System64Folder]msiexec.exe"
            Arguments="/x [ProductCode]" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.Installer.Common.ProjectDir)mainBanner.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.Installer.Common.ProjectDir)topBAnner.bmp" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>

    <InstallExecuteSequence>
      <DeleteServices>NOT UPGRADINGPRODUCTCODE</DeleteServices>
    </InstallExecuteSequence>
  </Product>
</Wix>