<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(var.Installer.Common.ProjectDir)Consts.wxi ?>

  <?define ProductName="Queue Portal" ?>
  <?define ProductTitle="Портал очереди" ?>
  <?define UpgradeCode="D44E3BFF-77AF-4081-9F88-9928E3104555"?>

  <Product Id="$(var.ProductCode)"
          Name="$(var.ProductName)"
          Language="1049"
          Version="$(var.ProductVersion)"
          Manufacturer="$(var.Manufacturer)"
          UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="Более новая версия [ProductName] уже установлена." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="appIcon" SourceFile="icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="appIcon" />
    <Property Id="REINSTALLMODE" Value="amus" />
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <Property Id="SERVICE_NAME" Value="JunteQueuePortal" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ProjectFolder" Name="$(var.ProjectName)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProjectName)">
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="CoreFiles" />
      <ComponentGroupRef Id="SiteFiles" />
      <ComponentGroupRef Id="Service" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="75CC089C-5C03-4697-BD71-66C684AEDBCE">
        <Shortcut Id="Shortcut"
             Name="$(var.ProductTitle)"
             Description="$(var.ProductTitle)"
             Target="[INSTALLFOLDER]$(var.Hosts.Portal.WinForms.TargetFileName)"
             WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Service">
      <Component Id="cmp99CBDE2AFC8047ADA75F210CE325511E" Directory="INSTALLFOLDER" Guid="99CBDE2A-FC80-47AD-A75F-210CE325511E">
        <File Id="fil30EB42677F4344FE9F53C86859BC9E98"  KeyPath="yes" Source="$(var.Hosts.Portal.WinService.TargetPath)" />
        <ServiceControl
          Id="removeQueueService"
          Name="[SERVICE_NAME]"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>
      <Component Id="cmpCD018660E6B74490A15F51F6AFA9AE39" Directory="INSTALLFOLDER" Guid="CD018660-E6B7-4490-A15F-51F6AFA9AE39">
        <File Id="filD465FBD1D9034644A5863A8A3A507CDD" KeyPath="yes" Source="$(var.Hosts.Portal.WinService.TargetPath).config" />
      </Component>
    </ComponentGroup>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.Installer.Common.ProjectDir)mainBanner.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.Installer.Common.ProjectDir)topBAnner.bmp" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>

    <InstallExecuteSequence>
      <DeleteServices>NOT UPGRADINGPRODUCTCODE</DeleteServices>
    </InstallExecuteSequence>
  </Product>
</Wix>