<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="dir0C90AB180A09D13DFC6C2464F39ACEBE" Name="www" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="SiteFiles">
      <Component Id="cmp40D68DF4EC138225DECCD9F4C8198265" Directory="dir0C90AB180A09D13DFC6C2464F39ACEBE" Guid="CBBDAB45-367A-487E-9D77-C23525586792">
        <File Id="fil89EF439CA5F38759D3E5611F315BB4D6" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\clientaccesspolicy.xml" />
      </Component>
      <Component Id="cmp60B1FB55579F20C4E5992381931290B2" Directory="dir0C90AB180A09D13DFC6C2464F39ACEBE" Guid="CCF5FBC0-91D2-4BE3-AFDE-D40C7DF7DD10">
        <File Id="fil89EE66C5D7799C97E597520C8837930A" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\favicon.ico" />
      </Component>
      <Component Id="cmp0FCA79CB347FEC00C9A9E32C68351AD7" Directory="dir0C90AB180A09D13DFC6C2464F39ACEBE" Guid="604497D6-7A32-47EB-9442-BBEA07D7176C">
        <File Id="fil8378A64B4858A892EBCFD5F89490E063" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\index.html" />
      </Component>
      <Component Id="cmp45C02ED8F5B75116D37DAA2DD3AB97BD" Directory="dir0C90AB180A09D13DFC6C2464F39ACEBE" Guid="E80EF17E-F00E-4546-8DE5-F047850443E3">
        <File Id="filA55E7D38A29644F9C113B1A679117BFC" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\loading.png" />
      </Component>
      <Component Id="cmp9556C7D069B1FA1FA5D6CA724F15FD6B" Directory="dir0C90AB180A09D13DFC6C2464F39ACEBE" Guid="4BF28D95-8F86-4EFB-9586-328692F7893F">
        <File Id="fil2C20EFB49DEA3B36BF635BD7B9D749BD" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\main.css" />
      </Component>
      <Component Id="cmp173A2DEE4BB0479B3FC7FE5E005CB7F1" Directory="dir0C90AB180A09D13DFC6C2464F39ACEBE" Guid="A558CB0E-6BB6-429E-A4F2-064F574D208C">
        <File Id="fil2905D0DB1EB44F6BFEE6940A2BE0AE4C" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\main.js" />
      </Component>
      <Component Id="cmp1BC75490E485EFEB72874CA56B2ABA0D" Directory="dir0C90AB180A09D13DFC6C2464F39ACEBE" Guid="B7CF2CCA-0DC4-410D-9019-FBA4E500ADF7">
        <File Id="fil87A4C52D2FEB718AA05FE352F73DD038" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\social.png" />
      </Component>
      <Component Id="cmp2E8CEF429C2674C8DAC0A64AC7967B3A" Directory="dirB1C0C30C82DEF241A760B5C6CE723B52" Guid="87BDF715-A1B4-4D61-B536-9F1B00EB6255">
        <File Id="filE95ED2929246F82850BF750C115E5479" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\css\bootstrap-responsive.css" />
      </Component>
      <Component Id="cmp77396E15992EDDA98D4ABC7B77AFA2E0" Directory="dirB1C0C30C82DEF241A760B5C6CE723B52" Guid="F3827759-C7B6-4CC2-9449-80DA454B718C">
        <File Id="fil86F48EBE647E90D54A755987848A832C" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\css\bootstrap-responsive.min.css" />
      </Component>
      <Component Id="cmpA3A577367DC021DC3B25D47D6A12A5ED" Directory="dirB1C0C30C82DEF241A760B5C6CE723B52" Guid="D70657CC-30E1-4EB5-AFC0-FAD9C4DDEE95">
        <File Id="fil9936C31B2BBE6E882FCB16CDBCA845A5" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\css\bootstrap.css" />
      </Component>
      <Component Id="cmp6A66D2B333CAC3EAB48C5F34EF6A2BE3" Directory="dirB1C0C30C82DEF241A760B5C6CE723B52" Guid="08E9E2EA-BE9A-4222-84C9-8896E97ED68A">
        <File Id="filAA25CA900D94EFB1984CFE9BBF3FE370" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\css\bootstrap.min.css" />
      </Component>
      <Component Id="cmpC93EFADBA3A3B64BC31A9D55A48EB445" Directory="dirDBA54732411C5883933F39746C3AE972" Guid="B62DF1CA-10C4-44C4-9BB9-7BE1FACAB7AB">
        <File Id="filCB13ADB0DB255DEDB205920D79E2C57F" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\img\glyphicons-halflings-white.png" />
      </Component>
      <Component Id="cmp7692C7A044AA80542971069E411EDBA1" Directory="dirDBA54732411C5883933F39746C3AE972" Guid="8695FA97-0BC7-40A6-BD36-3133D17632D3">
        <File Id="filAE3149D81EBEADACBD4AA22E41B5CE99" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\img\glyphicons-halflings.png" />
      </Component>
      <Component Id="cmp708752248F027F0A8DCE12F3E5E6CE8A" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="8E878E19-EA43-436E-94DE-F508BA895335">
        <File Id="fil60E4B0685F57C79DD293C335DB88DDB7" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-affix.js" />
      </Component>
      <Component Id="cmp2F8F6CDF907671747ACD59363BE6D5D6" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="8C66468C-A7A4-4D4C-BF5A-7D18985F4A62">
        <File Id="fil6E23E3DD5EBDD480868DDEC5F4E22C9F" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-alert.js" />
      </Component>
      <Component Id="cmp44984A6E6561B8019E22FB3C64202C9E" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="AD98B59C-6D31-41D6-935A-C6BB468C5706">
        <File Id="filAF931D77A4B9FC44C085472B207B0760" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-button.js" />
      </Component>
      <Component Id="cmp8626D1E1B760F867A45236F396276EF6" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="0A50C62E-EAD8-4C87-9327-BBA2AC73D581">
        <File Id="fil93EC0B47FA8015C4D574F3356A14132C" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-carousel.js" />
      </Component>
      <Component Id="cmp941D091505A0C524DCEB9334F7E0E775" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="B8339F81-D355-4826-A97B-F3B70A0DAE48">
        <File Id="fil9D6D6979939BFB1AEF2F9BDC787E127D" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-collapse.js" />
      </Component>
      <Component Id="cmpCD942FCD010856FDA02BE6AB57041C1E" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="1E57E2B9-BFEF-4C58-879C-0E40851E99FC">
        <File Id="filF691C3192852E4681EB168AE9A9D6AE3" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-dropdown.js" />
      </Component>
      <Component Id="cmp9575CE1502B7869D7F4BDF49DD568E21" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="01778341-4CA6-42D1-85FA-9D303DE99FB3">
        <File Id="fil790D48D6C60CF27364ACF177D5036844" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-modal.js" />
      </Component>
      <Component Id="cmp6FB427E3C9DD94062B1D0145999F7214" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="81943657-F27D-4EB0-94B8-0D4D1C4A499E">
        <File Id="filA6E16243947C1F9972A8F45CF8351634" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-popover.js" />
      </Component>
      <Component Id="cmpF27725D5FABB9CDB032EACB2CB5FCB22" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="10DCADC7-13FB-4219-BF36-B73D63DFD2EC">
        <File Id="filD889D3F495CBA6C21F265ABB447CE67C" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-scrollspy.js" />
      </Component>
      <Component Id="cmp6EAA7BF8733C5D6395BE9A27165E593C" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="B2535876-374B-4837-9B37-5B44C737E5C4">
        <File Id="filD11E891D5E306E87C8683B801EB10D22" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-tab.js" />
      </Component>
      <Component Id="cmp7623B235ED1492519C82FD0EE9F8CC5C" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="CC17AF8A-F453-48D5-AB51-1591EC024DC7">
        <File Id="filC3CD62D0291EAC58A81386078F7D1D03" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-tooltip.js" />
      </Component>
      <Component Id="cmp2635C9BC1726F13EE6CAF9E25E2B7B14" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="28CC2AC6-DB22-4583-81DC-193AB2199648">
        <File Id="fil3693AD52BA5B0E47B24B43CD69C59B4A" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-transition.js" />
      </Component>
      <Component Id="cmpD7FAC5F6AB89737C1E31C6EB132BF48E" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="85E354CC-ACE8-4EC4-B9B9-80884ABDB61D">
        <File Id="fil884E2644A10DED96F200AB9E9E0C864A" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap-typeahead.js" />
      </Component>
      <Component Id="cmp18297653CF756265E9AFC55308E830E0" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="48FBC89E-87D0-4B10-AB61-5EF5749A18F5">
        <File Id="fil971643B9966131E33576766D8D38B4C5" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap.js" />
      </Component>
      <Component Id="cmpF5023DF7FC3A1A75D0526F61306AD4B8" Directory="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Guid="C01AE49E-075E-45E8-8D5E-34AB1DCE9E1F">
        <File Id="filEF04AF9CC5F668967237F81080586707" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\bootstrap\js\bootstrap.min.js" />
      </Component>
      <Component Id="cmp3BE0CD69D824411A4671496023236F6A" Directory="dir78E67451A6FAD9C5AD709F8CB75C576E" Guid="2824F31D-309D-447A-A161-94245CE7C10A">
        <File Id="filB72A98BF12287190C24BEFA09F50E67B" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\client\index.html" />
      </Component>
      <Component Id="cmp567CABD304C33E9A2A40CBF263DE6B05" Directory="dir78E67451A6FAD9C5AD709F8CB75C576E" Guid="CD53D70D-9992-42E8-B393-A0FD4FF1E4AC">
        <File Id="fil15D3782D53B72F19ABD48305A075C7D1" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\client\main.css" />
      </Component>
      <Component Id="cmp834081CA8884F351CDE76A4DB30E7D13" Directory="dir78E67451A6FAD9C5AD709F8CB75C576E" Guid="45375C2B-D995-482B-A3F3-EE18818696F9">
        <File Id="filE0B6605DAE2BF369597186417D346496" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\client\main.js" />
      </Component>
      <Component Id="cmp5C489D244A821AA5B9DE119642B30572" Directory="dirDC030F3D705B9C69FD809C50B5A7F21E" Guid="A2FEF805-7447-427E-B82C-14F3C657F56A">
        <File Id="filA81F9E8D4BC5DA57EE403EE44F52E7D0" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\date\date-ru-RU.js" />
      </Component>
      <Component Id="cmpB1941728560C52D8D5C41ACEFB607046" Directory="dirDC030F3D705B9C69FD809C50B5A7F21E" Guid="2959BD3F-43A3-4E5D-809A-AEE37D6D552B">
        <File Id="filDF4E560BD8362C8DC22767FA22EFD685" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\date\date.js" />
      </Component>
      <Component Id="cmp2C2A0C7338FCB9E4F0812065161A5316" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="4BADD0C3-EA70-4B8E-8219-FD6998EF20DB">
        <File Id="fil9B100455D02D021566AD6A5764DAE591" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\excanvas.js" />
      </Component>
      <Component Id="cmp2E397F13DC401816224315CDF0CE570E" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="289EB62E-A191-4666-BA2F-C5CE08C3DD5C">
        <File Id="filBAE3A4AA903EB74D1ED65873E342DECD" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\excanvas.min.js" />
      </Component>
      <Component Id="cmp7224FAC93FD5BEF2BE50452BC994F3FA" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="340C8114-8F6D-4882-95E6-B609447D9522">
        <File Id="filB9BB2E279130664429A9A8427232A5B1" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.colorhelpers.js" />
      </Component>
      <Component Id="cmp3F8633F1E519291FA25C47229E8EC039" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="7978FD21-1B79-4593-8BE1-EDF562B34A31">
        <File Id="fil37D01FD3BD55A78B8B1CC3CBB3CB1DF0" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.colorhelpers.min.js" />
      </Component>
      <Component Id="cmp248034B3D399A14CDDF49C9E6608EB38" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="411BFC11-E3E9-4667-83C2-C32A78DD97E3">
        <File Id="fil887B0073FD91043981388CF144553FF2" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.canvas.js" />
      </Component>
      <Component Id="cmpD0FCC94F3DA4A3CB1E80FBF8E94046E5" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="13D204DD-5FD1-46BB-89B8-5FDC30712B40">
        <File Id="fil11B328D18687B98F3BD5C11BCA624B5B" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.canvas.min.js" />
      </Component>
      <Component Id="cmp593CD12B827010C5B7BDA0FF43EE46D9" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="6E984627-92DB-4517-AF72-24BEC7FDF2FB">
        <File Id="fil4B2A9A5BBD09C4B459DCE5DBF4E9F410" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.categories.js" />
      </Component>
      <Component Id="cmp38074E393F242280BB2730051D9EAD24" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="9ED50C70-5BF0-4783-8E13-3C7C266EA143">
        <File Id="fil4D2D288C06D6A3C1006DD35F1C182651" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.categories.min.js" />
      </Component>
      <Component Id="cmp5B488EF1EA47CD944E3830C4BBF9E00A" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="7DD9F32A-5AA7-4D0E-AF74-3110DB617FDD">
        <File Id="fil076B1139E4C6C37144EE3FC889CF564D" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.crosshair.js" />
      </Component>
      <Component Id="cmpCD014C0415DC65470722710D029070F7" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="E7C427FC-1E84-428D-ABC9-DC2858485DEA">
        <File Id="filEFFC5DAEE6BFF6606D8F809E9A79BBDF" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.crosshair.min.js" />
      </Component>
      <Component Id="cmpC00C47CDEB21355F15E213AED37FA098" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="F73E9B32-741F-430D-956B-DB8C3C7CDE83">
        <File Id="filA396FAD889BDD89C8F92EEF40552C2C0" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.errorbars.js" />
      </Component>
      <Component Id="cmpE6DCB13707800FA61708C5BED13C5D72" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="BA42798A-E77D-429F-9960-0892127BFCFC">
        <File Id="filD2646AE672FFE698ED03E37965227FE0" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.errorbars.min.js" />
      </Component>
      <Component Id="cmp5AD893A119C6D7CBBBB99BAC4B9BCC39" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="33DEC2CB-FEA6-4423-856E-3A41D401BF86">
        <File Id="fil37F48C02F4DD9A01D64E7A9166D26352" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.fillbetween.js" />
      </Component>
      <Component Id="cmp182E2B3D5CC05DCF9D4E89E4A512B43E" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="E8E80FDD-F78A-4F9D-94E8-F56420C38B7E">
        <File Id="fil1F67FA7619DB83A34C4D7805FD3A9806" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.fillbetween.min.js" />
      </Component>
      <Component Id="cmp861FE671B75E995E53776BF6A9896795" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="26731F29-A979-4749-8BF3-5EFB83011C8A">
        <File Id="fil9A2036E683AAC57B195F85334DEFD9E2" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.image.js" />
      </Component>
      <Component Id="cmp4CCCD8C1EBFD5982C84E603DD4D2C757" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="5416AB39-63B6-4B93-9CE6-2638E81AC5AB">
        <File Id="filFAD39EB4192C2FB23EB61B76B33BF973" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.image.min.js" />
      </Component>
      <Component Id="cmpD078504C956E1875E8AD75C69DE066D2" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="951FE933-BD8E-4CD9-8248-EAFF5A51CBCE">
        <File Id="filA0A69CC76428766B4FC7727BAC104102" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.js" />
      </Component>
      <Component Id="cmp6497F5D2CF0382E419DEE83B277EBA5A" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="E4A47802-088E-4646-AD28-5F80C3FA4ED8">
        <File Id="fil10A7BF2A0138A4931150DBEFE1B3C0C1" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.min.js" />
      </Component>
      <Component Id="cmp1DD96B5E90A27998C3F6105CE3B180F2" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="C0512FDD-CC00-4E41-A55D-8F4D3A734F32">
        <File Id="fil9650F367611815302343ADEE9DAA6AC9" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.navigate.js" />
      </Component>
      <Component Id="cmp1A2A1B90EEC108F75F7F15618962E22C" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="1EF226CD-67C6-4B2A-87E7-93FC0E83D4F7">
        <File Id="fil54C27136B9B4305DC31B183E01F2800F" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.navigate.min.js" />
      </Component>
      <Component Id="cmp2657ABB97BD2423B026E862A5251C717" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="B406F785-5453-46D9-9EF3-D838EB1FACB0">
        <File Id="fil0DB128BE5BC1FA8250E1631512E6EC62" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.pie.js" />
      </Component>
      <Component Id="cmpB8FAFDA84B5C049A8F5C05A4C5AE862C" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="A80B2395-AC81-48A0-ADF3-9026A0AB4C5F">
        <File Id="filC13DF6B887D42B4A2DCA91F216E820AB" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.pie.min.js" />
      </Component>
      <Component Id="cmp45976261D4CBF86AF4B0075116E5D27C" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="84A23F72-55D4-4051-A038-E1C962BA1542">
        <File Id="filBE6B1957E43C1CCBB096278363A0A59C" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.resize.js" />
      </Component>
      <Component Id="cmpD7EA14A445DE5E3CB107AFEF71312745" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="311CF8B6-7B76-43BC-91B0-EE5C500C3930">
        <File Id="filBDB9ED087A595D1826BF719EEBC3413B" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.resize.min.js" />
      </Component>
      <Component Id="cmpE1C9936E975714682A6C3E1E132720DC" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="6122865F-19A0-4629-B9DC-E3DD0E5B524F">
        <File Id="fil636650E7BB6A98084BC2D1C80D54F0CB" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.selection.js" />
      </Component>
      <Component Id="cmp46365C24D2BF13CA213578991A8B3C96" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="D8164D0C-1D38-4E34-986D-20E496E8C414">
        <File Id="filFD75B20EE50B7B7DF8E7D5A811176699" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.selection.min.js" />
      </Component>
      <Component Id="cmpEBDC5F98AE95D5525542B199610BFAFC" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="3D104DB4-BDFE-4969-A5C7-CDB2EC6F490C">
        <File Id="fil81F837C1050AE690CCD9274DEDF0F412" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.stack.js" />
      </Component>
      <Component Id="cmpD2F5BBC323136905F5944E15D2D9D6D6" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="40E8104E-99A4-4660-B561-A5F5B3F984C2">
        <File Id="fil85A584EA91628755E4DB5C1DD94786D7" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.stack.min.js" />
      </Component>
      <Component Id="cmp440EE8BE379306A59FFD78FD9A892B5D" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="3CB02535-AF4A-4495-B91B-81CAD981B74F">
        <File Id="filB1D850C69277F693B39495A6262B1AC1" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.symbol.js" />
      </Component>
      <Component Id="cmpE4238A510387ED33DEA4249F7AEBA4E4" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="350106A4-026D-4744-A68A-A28ADEB80B7D">
        <File Id="fil312B14D003DE683BAB4E0CC1EB9EB835" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.symbol.min.js" />
      </Component>
      <Component Id="cmpBA831A8D4F8D64F4C9EF15E5E6C6D72F" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="98265829-57D5-4231-88C0-DBC2E0B94B1A">
        <File Id="filAC7AFFE9B837734059C19FCFE659AAC2" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.threshold.js" />
      </Component>
      <Component Id="cmpD7636DF388A9D890C8D4E201CE54A59B" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="CFC3F29A-974D-44B4-9D98-692FD12C0F52">
        <File Id="fil289B9622E42DB0171799602961466FA9" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.threshold.min.js" />
      </Component>
      <Component Id="cmp00B15E1D18DF2B34D916B5964EB8171B" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="570ECE2F-412B-422A-92A1-CED616A3DFE4">
        <File Id="fil9B94FF48A377AC172DC417EABD9B5EEA" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.time.js" />
      </Component>
      <Component Id="cmpE086911CDB890B1B15CF0BDBE7B5F753" Directory="dirA380CAE18F71BF115FAAE71F5447F4B9" Guid="499E3D95-67FA-4D78-9525-FA1421C1A56B">
        <File Id="fil1950E332516B1E3C9D3AA8DBE9C32E60" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\flot\jquery.flot.time.min.js" />
      </Component>
      <Component Id="cmpE9CF9AE6472BA293AE14C23C58CD0B1B" Directory="dirD5E708FC527F53DF3FCB7C18EF7F0AB6" Guid="C7EC75F0-D75A-41DF-886F-9D6CE988A650">
        <File Id="filDC3B936781216FE6DAE15E366BA9E2CD" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\fullcalendar\fullcalendar.css" />
      </Component>
      <Component Id="cmpA50B777FA02120656DAADFEB87E8C94D" Directory="dirD5E708FC527F53DF3FCB7C18EF7F0AB6" Guid="C7B4E1D1-3CF8-4829-BB2E-C33E658AB973">
        <File Id="fil71758F1BE62CE5EEA15DD2B0C1F23DE0" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\fullcalendar\fullcalendar.js" />
      </Component>
      <Component Id="cmpC143F02C1145EEF2A614F77B254ECBD6" Directory="dirD5E708FC527F53DF3FCB7C18EF7F0AB6" Guid="E9E1B473-D59A-4F7B-8F22-C406ECEA553B">
        <File Id="fil38E478D8BC3D83A767208420BFC59CD6" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\fullcalendar\fullcalendar.min.js" />
      </Component>
      <Component Id="cmp94A68666830ECC0681615DC5F4BE3937" Directory="dirD5E708FC527F53DF3FCB7C18EF7F0AB6" Guid="054341D4-A86F-4AD6-8CB6-24C2DF739EB0">
        <File Id="fil1FC3837595D22E2F39D7A3179FF23FE6" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\fullcalendar\fullcalendar.print.css" />
      </Component>
      <Component Id="cmp152F9F495A99B102B216BF7B09E2789D" Directory="dirD5E708FC527F53DF3FCB7C18EF7F0AB6" Guid="5B554D1A-70ED-4CF9-9F43-1986FDA383F5">
        <File Id="filCC6DFB23085C1BB36A0D0668C2CFABE5" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\fullcalendar\gcal.js" />
      </Component>
      <Component Id="cmpCDB74050833BF31D4FFC0B7491FE279A" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="ADCF9C3A-2944-4D7D-8DE5-6221153F37C4">
        <File Id="fil740A0CD4EE3FCC3C1D73DAA03F929CCB" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\apng-canvas.min.js" />
      </Component>
      <Component Id="cmpEC6F4AA0D661BFB7E14F88F72E51A54B" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="B71BE945-EE6D-43AF-BC92-EF9246074317">
        <File Id="fil34DA0FF49F4441F812FED518D2F69B1D" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\common.js" />
      </Component>
      <Component Id="cmp1249613C9C3813F01027C018DE5610BC" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="8C29BEDD-FCEB-4822-A103-8A7D42CDBB37">
        <File Id="filC6769E2A3C9156685916DCCBE378A592" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\jquery.cookie.js" />
      </Component>
      <Component Id="cmp537109DE5B9CE619027E23CCCCF7F95F" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="AC62F617-6737-47EC-8713-53CBB2C10573">
        <File Id="fil08E8EC27B21A35C3A7167DF13A1A8ACC" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\jquery.min.js" />
      </Component>
      <Component Id="cmp3277448B3CE4663616E781D38026E107" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="41B9A90D-A08E-40FA-92C4-7830D8825748">
        <File Id="fil3EB8B3234E08531E731A325F60AF9CF1" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\jquery.PrintArea.js" />
      </Component>
      <Component Id="cmp75B1F4F106236E239020725E33CE9B47" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="65A3F605-D678-4045-9512-31C9595A5B47">
        <File Id="filB0B6CA1CACDA1917F87DCB1582120669" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\jquery.sparkline.min.js" />
      </Component>
      <Component Id="cmpCBD518EC56003B65F7470ED2512164FA" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="125898FF-10A9-44D6-878A-D8015F0941AD">
        <File Id="fil47BDA050E3A5CE66CCB45C512B95E5EC" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\justgage.min.js" />
      </Component>
      <Component Id="cmpC735A03E80C435BDBA860FE751929989" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="3055A584-4D43-4A58-AC70-C5604A158ED7">
        <File Id="fil915AFE90770B8CD3C493FC0FDC10B7B8" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\raphael.min.js" />
      </Component>
      <Component Id="cmp4B58FC7CBEB9576C298EC30A3CDF7590" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="50B217AC-E14D-4A1B-A793-2F2847C8E44C">
        <File Id="fil4E2716185D9B2074684CB421E69779B1" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\string.format.min.js" />
      </Component>
      <Component Id="cmp8C944EEB021700A1C81C02407ED65935" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="E00B583B-78E9-4E6D-8D83-91E47B685804">
        <File Id="fil061410A7884C6043A3DDE8F7629B0C9E" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\translation.js" />
      </Component>
      <Component Id="cmpF80950632DEBE87C7BDE61090846EAF9" Directory="dir1FBB1A642871B9B455E9704DC4FAD702" Guid="94B730A2-8024-4E91-8B2A-683DAE75807C">
        <File Id="filE567F4973678A8F136BB45518F901667" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\js\watch.js" />
      </Component>
      <Component Id="cmpA4AB98AAF4CAC620BB722FE0A5B04F85" Directory="dirE77428803EC50E88FFB028BA543A4EF7" Guid="58EF3EBF-734D-44CD-9799-A2B4E61A22EC">
        <File Id="fil67D9F54D1DFCD2D5BD76B773982377C4" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\operator\index.html" />
      </Component>
      <Component Id="cmp6DA4663AD48D5CE24A68540FE1F7A088" Directory="dirE77428803EC50E88FFB028BA543A4EF7" Guid="021C3312-DFF4-4A6B-93DF-CB71951DD644">
        <File Id="fil278B006CAF58077DECEA579708A8C8BD" KeyPath="yes" Source="$(var.Hosts.Portal.WinForms.TargetDir)\www\operator\Queue.Operator.Silverlight.xap" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0C90AB180A09D13DFC6C2464F39ACEBE">
      <Directory Id="dir1FBB1A642871B9B455E9704DC4FAD702" Name="js" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0C90AB180A09D13DFC6C2464F39ACEBE">
      <Directory Id="dir78E67451A6FAD9C5AD709F8CB75C576E" Name="client" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0C90AB180A09D13DFC6C2464F39ACEBE">
      <Directory Id="dirA380CAE18F71BF115FAAE71F5447F4B9" Name="flot" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirE6B91E79089F4485460F3A47B55CA422">
      <Directory Id="dirA4663A69F37FCBAAA0FF8DE8100EF61B" Name="js" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirE6B91E79089F4485460F3A47B55CA422">
      <Directory Id="dirB1C0C30C82DEF241A760B5C6CE723B52" Name="css" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0C90AB180A09D13DFC6C2464F39ACEBE">
      <Directory Id="dirD5E708FC527F53DF3FCB7C18EF7F0AB6" Name="fullcalendar" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirE6B91E79089F4485460F3A47B55CA422">
      <Directory Id="dirDBA54732411C5883933F39746C3AE972" Name="img" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0C90AB180A09D13DFC6C2464F39ACEBE">
      <Directory Id="dirDC030F3D705B9C69FD809C50B5A7F21E" Name="date" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0C90AB180A09D13DFC6C2464F39ACEBE">
      <Directory Id="dirE6B91E79089F4485460F3A47B55CA422" Name="bootstrap" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0C90AB180A09D13DFC6C2464F39ACEBE">
      <Directory Id="dirE77428803EC50E88FFB028BA543A4EF7" Name="operator" />
    </DirectoryRef>
  </Fragment>
</Wix>