<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="SERVICE_NAME" Value="JunteQueueServer" />

    <ComponentGroup Id="CoreFiles" Directory="INSTALLFOLDER">
      <Component Id="cmp5090F92A55F2CEB484FEC77556060C98" Guid="C23DBBC8-CE01-4638-97E2-AF3E72C4AFF1">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinService.TargetPath)" />
        <ServiceControl
           Id="removeQueueService"
           Name="[SERVICE_NAME]"
           Stop="both"
           Remove="uninstall"
           Wait="yes" />
      </Component>
      <Component Id="cmp1736F4C6BFCEBB7D4352CE8B3C240A6B" Guid="D77EDBF2-C7BB-48CC-920C-0BAB6ADCB612">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinService.TargetPath).config" />
      </Component>
      <Component Id="cmpFBA998017BFAB2D3E6250E76D7D19052" Guid="45C2D3AE-2C90-410B-B71C-266CFC3929F1">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetPath)" />
      </Component>
      <Component Id="cmp7E002373D6832290B60346D53B523A18" Guid="AC996169-1AC1-42DB-8E41-9272A93FD252">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetPath).config" />
      </Component>
      <Component Id="cmpFD65F52CD5EC0B46A750F8EEFC3D4422" Guid="89D73591-1375-48D3-8A77-C571D337CF80">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\AutoMapper.dll" />
      </Component>
      <Component Id="cmpEEC7AC6B3009FA88C57EB2972A7A8F5B" Guid="50E3CFC5-CEBD-4D36-BBC5-1F9597DF0860">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\AutoMapper.Net4.dll" />
      </Component>
      <Component Id="cmp730E2FFFAB351C1FBB3C16D211F149E6" Guid="98462FFA-6E8C-4EE4-A84B-B2C27CC45641">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\FluentNHibernate.dll" />
      </Component>
      <Component Id="cmp28F47D9A07DA0DB70D726116C5513C1D" Guid="EABF639B-00B7-42AE-BEC0-C7A7131CFA9B">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\ICSharpCode.SharpZipLib.dll" />
      </Component>
      <Component Id="cmpAD8551805C0E384D4FD6CD718C5E8381" Guid="FCFBF43F-1B12-490B-B2A2-6E5BC9CE60D2">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Iesi.Collections.dll" />
      </Component>
      <Component Id="cmp0A57C036E7477C8B804C1F689B87C13B" Guid="8FDADD5B-0DEC-4FEF-B1B4-8C5A1ACE285E">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Junte.Data.Common.dll" />
      </Component>
      <Component Id="cmp391ED0FC564C14BE2F75C7141F49032B"  Guid="AF46FACE-E168-4DA5-9814-C5CDB490A3E4">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Junte.Data.NHibernate.dll" />
      </Component>
      <Component Id="cmp2D1101A09A3F5FA0CDF5E565334E6BDB" Guid="5BFD150F-A4EA-477E-AC8A-80043F6C21DC">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Junte.Parallel.Common.dll" />
      </Component>
      <Component Id="cmp96AB944A74A73C7899AC9EBB5BFD5292" Guid="F834BD7F-3846-484A-8AE8-B6428791B13D">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Junte.UI.WinForms.dll" />
      </Component>
      <Component Id="cmp0B7A799FDA415DC5BB15E17BA3EC7CEF" Guid="17E6E4E8-00D9-4834-8411-111A1FFEE66A">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Junte.UI.WinForms.NHibernate.dll" />
      </Component>
      <Component Id="cmpC255AEA61B1C33749B73878AE58A3200" Guid="5B85F451-D727-419A-9DFF-2E03E510AD8A">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Junte.WCF.Common.dll" />
      </Component>
      <Component Id="cmp89D9798C95724B658B2DE442DB767E84" Guid="89D9798C-9572-4B65-8B2D-E442DB767E84">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\NLog.dll" />
      </Component>
      <Component Id="cmpF2F1C15A47B64F045101B1AE5B4D6054" Guid="238FEBD2-909B-44C7-A055-7728C9BE049B">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="cmp5141EFC969B8F1A9A0F1A01FFAD874BA" Guid="1B4E91CF-8039-4358-82AF-0E542D8AB2AB">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Microsoft.Practices.Unity.dll" />
      </Component>
      <Component Id="cmp5C2F9BA6E76525469C18CC73086E5362" Guid="A6C6AB09-340C-4773-82A2-A80E6197A2B4">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\NHibernate.Caches.SysCache2.dll" />
      </Component>
      <Component Id="cmpA1ECE8DB012BBA16B976018E9D98B56D" Guid="3471E772-E981-4A1F-B73E-D81BF8D1E284">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\NHibernate.dll" />
      </Component>
      <Component Id="cmp4DF6D8BE3FE45464337ABFEB5559E3A2" Guid="726AF3B0-DB95-4621-9042-8FB70BDAB73E">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\NHibernate.Mapping.Attributes.dll" />
      </Component>
      <Component Id="cmp29BB8F57044D76D02FF5E6AF31B7DD68" Guid="CB26CF09-3C93-4263-9D2A-0B1AD0E14976">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\NHibernate.Validator.dll" />
      </Component>
      <Component Id="cmpD24680FDBE0DDD495A03DFD06D13093B" Guid="72F391C4-04DA-4B07-AA94-870DDFF87439">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\NPOI.dll" />
      </Component>
      <Component Id="cmp55C662695779CA92FAA1C1E8F030C8C5" Guid="1CC42B35-C329-4D65-A3BE-03C6E88B54A1">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Common.dll" />
      </Component>
      <Component Id="cmp2CE2F83A5AB32BAFBA87C152C2C6F326" Guid="3499ED25-4C1F-4A2D-9854-D0A49EEA0C85">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Model.Common.dll" />
      </Component>
      <Component Id="cmp6DC3B5112C8E1BBC28D8321BA38A65DB" Guid="4E243395-2849-4B8C-9DC4-A1A45B4854C0">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Model.dll" />
      </Component>
      <Component Id="cmp7B6684D87FE7EF736331BBFBB1645A8B" Guid="AA57EACF-EC55-4A91-B017-6BE6D289228F">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Reports.dll" />
      </Component>
      <Component Id="cmp97471B15F1F51A1AB3888E4D77FD942F" Guid="2AC39E9B-C117-49B6-96DB-EECF10D9DD33">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Server.dll" />
      </Component>
      <Component Id="cmp3111FB7FBF8E83855ABE23B857069FBD" Guid="D49B649D-A5EC-44F8-B007-189DB6C4B68C">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Services.Common.dll" />
      </Component>
      <Component Id="cmpC4E247D01A6FC492047FFCAFBA4A2F7E" Guid="8680E059-4ABB-4B18-8460-46D1DFCDB1E8">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Services.Contracts.dll" />
      </Component>
      <Component Id="cmp43DB63E4B74D1504244115D8B4DEBC10" Guid="D027E0DB-3172-4A19-A32B-C928ECAF716D">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Services.DTO.dll" />
      </Component>
      <Component Id="cmp0190C0FD8E77455A3A7B6B89B5E19886" Guid="B3CDFFA6-C7A7-4594-8E03-51B86534DEDF">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Services.Server.dll" />
      </Component>
      <Component Id="cmp2D83E85939F24F429AE3E686F5831E1C" Guid="2D83E859-39F2-4F42-9AE3-E686F5831E1C">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.Hosts.Common.dll" />
      </Component>
      <Component Id="cmpBB1767D7C200C536ABB2D361F40F9D92" Guid="4D5A72B7-CB77-42AA-B0B7-B3E515F07F00">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="cmp676659A682F8B2F9B96DCCEF64974212" Guid="A54ABB34-7A8B-4417-B1F7-B53AD6C9BDB7">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll" />
      </Component>
      <Component Id="cmp7EB0B903F4227AB6B6118ABC9E5F8148" Guid="7BB48C39-B8D5-4F2F-839F-3FD8FB229E00">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.Sensors.dll" />
      </Component>
      <Component Id="cmp702FCD8F941D530EED089ED86491F3AF" Guid="89AFE010-209B-4F6F-8601-F5B9D6149607">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Id="cmp886200E0570F6ED803412CBE764B2AAA" Guid="31D0C564-463C-4694-9F9D-DB915732CFB1">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.ShellExtensions.dll" />
      </Component>
      <Component Id="cmpD7CA4B29E6F34B5D8D70A216F16C773A" Guid="D7CA4B29-E6F3-4B5D-8D70-A216F16C773A">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Crad.Windows.Forms.Actions.dll" />
      </Component>
      <Component Id="cmp727E0303489E495083BCF3502597F72A" Guid="727E0303-489E-4950-83BC-F3502597F72A">
        <File KeyPath="yes" Source="$(var.Hosts.Server.WinForms.TargetDir)\Queue.UI.WinForms.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>