<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="en_US" Name="en-US" />
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Microsoft" Directory="INSTALLFOLDER">
      <Component Id="_FC1E669C0CE84071B94CC0E85F53E152" Guid="FC1E669C-0CE8-4071-B94C-C0E85F53E152">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="_47FB0036F25D4A439F73FD12BA4D9AE3" Guid="47FB0036-F25D-4A43-9F73-FD12BA4D9AE3">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Microsoft.Practices.Unity.Configuration.dll" />
      </Component>
      <Component Id="_D5C82E9C56044FC2BA8E04DB16CC7B2F" Guid="D5C82E9C-5604-4FC2-BA8E-04DB16CC7B2F">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Microsoft.Practices.Unity.dll" />
      </Component>
      <Component Id="_F1DD98F568F144C1836ABB0E1E09D327" Guid="F1DD98F5-68F1-44C1-836A-BB0E1E09D327">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Microsoft.Practices.Unity.RegistrationByConvention.dll" />
      </Component>
      <Component Id="_F276A583F23C4031AF2F0D9F856C04BA" Guid="F276A583-F23C-4031-AF2F-0D9F856C04BA">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Microsoft.WindowsAPICodePack.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Logging" Directory="INSTALLFOLDER">
      <Component Id="_34CF75DB884A481BA25F5305A4F4B32A" Guid="34CF75DB-884A-481B-A25F-5305A4F4B32A">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\NLog.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Data" Directory="INSTALLFOLDER">
      <Component Id="_0DBAED7D859E4EB8B95FB2543DA5D828" Guid="0DBAED7D-859E-4EB8-B95F-B2543DA5D828">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\AutoMapper.dll" />
      </Component>
      <Component Id="_2B2C6E586FCD41A498916B0B83D6AE21" Guid="2B2C6E58-6FCD-41A4-9891-6B0B83D6AE21">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Newtonsoft.Json.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Junte" Directory="INSTALLFOLDER">
      <Component Id="_CAFD36800D7F4A66921E8DF09E5AFAD0" Guid="CAFD3680-0D7F-4A66-921E-8DF09E5AFAD0">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Junte.Configuration.dll" />
      </Component>
      <Component Id="_746C14E44D334B6994C2AE573C40CF3F" Guid="746C14E4-4D33-4B69-94C2-AE573C40CF3F">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Junte.Translation.dll" />
      </Component>
      <Component Id="_71E19828DBE04A748504D44AD8BDEA02" Guid="71E19828-DBE0-4A74-8504-D44AD8BDEA02">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Junte.WCF.dll" />
      </Component>
      <Component Id="_BCA661BD98FC4399AA8AAE7F067E7E31" Guid="BCA661BD-98FC-4399-AA8A-AE7F067E7E31">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Junte.Parallel.dll" />
      </Component>
      <Component Id="_5ECD461EBCE8479B84FACA96D53E71B7" Guid="5ECD461E-BCE8-479B-84FA-CA96D53E71B7">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Junte.UI.WinForms.dll" />
      </Component>
      <Component Id="_2D83E85939F24F429AE3E686F5831E1C" Guid="2D83E859-39F2-4F42-9AE3-E686F5831E1C">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Hosts.Common.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Queue" Directory="INSTALLFOLDER">
      <Component Id="_63E8ECE5E2AD43B8A1028F43A453B518" Guid="63E8ECE5-E2AD-43B8-A102-8F43A453B518">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Common.dll" />
      </Component>
      <Component Id="_D7860FC4DEBF48359A2291E272857BEB" Guid="D7860FC4-DEBF-4835-9A22-91E272857BEB">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Model.Common.dll" />
      </Component>
      <Component Id="_2D2C68B5472D4897A17FD4DA1BCDA21A" Guid="2D2C68B5-472D-4897-A17F-D4DA1BCDA21A">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Services.Common.dll" />
      </Component>
      <Component Id="_3E09CA3201544065B4EDDE5BF457A3AC" Guid="3E09CA32-0154-4065-B4ED-DE5BF457A3AC">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Services.Contracts.dll" />
      </Component>
      <Component Id="_57C9DC3AE7F84EB6B1AAE16A271E032A" Guid="57C9DC3A-E7F8-4EB6-B1AA-E16A271E032A">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Services.DTO.dll" />
      </Component>
      <Component Id="cmpE1E56B97ED0D2308363693BD3D17C9AF" Guid="E32A4266-B9EE-41D6-B917-3C50BA76C1B4">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Services.Hub.dll" />
      </Component>
      <Component Id="_18DA0A155F374AC99093403FC0E607C9" Guid="18DA0A15-5F37-4AC9-9093-403FC0E607C9">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Hub.dll" />
      </Component>
      <Component Id="_1DF3C97A0A2D43A9B8B046FB965DFB19" Guid="1DF3C97A-0A2D-43A9-B8B0-46FB965DFB19">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.UI.Common.dll" />
      </Component>
      <Component Id="_AEBDBAEE52344F79809ACF24DD7837FC" Guid="AEBDBAEE-5234-4F79-809A-CF24DD7837FC">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.UI.WinForms.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Application" Directory="INSTALLFOLDER">
      <Component Id="_63BC24E11C094C05900C5208EE775286" Guid="63BC24E1-1C09-4C05-900C-5208EE775286">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Hosts.Hub.WinForms.exe" />
      </Component>
      <Component Id="_401F650EF76D4334A43B04503978673F" Guid="401F650E-F76D-4334-A43B-04503978673F">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\Queue.Hosts.Hub.WinForms.exe.config" />
      </Component>

      <Component Id="_C23DBBC8CE01463897E2AF3E72C4AFF1" Guid="C23DBBC8-CE01-4638-97E2-AF3E72C4AFF1">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinService.TargetDir)\Queue.Hosts.Hub.WinService.exe" />
      </Component>
      <Component Id="_AC9961691AC142DB8E419272A93FD252" Guid="AC996169-1AC1-42DB-8E41-9272A93FD252">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinService.TargetDir)\Queue.Hosts.Hub.WinService.exe.config" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Resources_en_US" Directory="en_US">
      <Component Id="_89AFE4885C3F41A2A6ABBDD4B40A3204" Guid="89AFE488-5C3F-41A2-A6AB-BDD4B40A3204">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\en-US\Queue.Common.resources.dll" />
      </Component>
      <Component Id="_C9B0DFAC8FC140ACA0971D578E45C6BA" Guid="C9B0DFAC-8FC1-40AC-A097-1D578E45C6BA">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\en-US\Queue.Model.Common.resources.dll" />
      </Component>
      <Component Id="_2CD3DBD2BE734676A0C63F499EE86153" Guid="2CD3DBD2-BE73-4676-A0C6-3F499EE86153">
        <File KeyPath="yes" Source="$(var.Hosts.Hub.WinForms.TargetDir)\en-US\Queue.UI.WinForms.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>